<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update</title>

</head>
<body>
<div>
    <h1>Update</h1>
    <br/>
    <form action="#" th:action="@{/new}" th:object="${element}" method="post">
        <table cellpadding="10">
            <tr>
                <td>ID</td>
                <td><input type="text" th:field="*{id}" readonly="readonly"/></td>
            </tr>
            <tr>
                <td>Name</td>
                <td><input type="text" th:field="*{name}"/></td>
            </tr>
            <tr>
                <td>Image</td>
                <td><input type="text" th:field="*{description}"/></td>
            </tr>
            <tr>
                <td>Price</td>
                <td><input type="text" th:field="*{img}"/></td>
            </tr>
            <tr>
                <td><button type="submit">Save</button></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>