.nav_bar {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 50px;
    padding-right: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(60, 60, 60);
    color: white;
}

.first_bar {
    color: white;
    font-weight: 500;
    margin: 10px;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
}

.logo {
    font-size: 30px;
    font-weight: 500;
    padding-left: 18px;
}