.about {
    padding-top: 3%;
    padding-left: 5%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
    gap: 1.5rem;

    .about_img img {
            border-radius: 0.5rem;
        }
    
        .about_text h2 {
            font-size: 1.8rem;
            text-transform: uppercase;
        }
    
        .about_text p {
            font-size: 0.938rem;
            margin: 0.5rem 0 1.1rem;
        }
}

