<section class="about" id="about">
    <div class="about_img">
        <img src="assets/img/1_1860h368.jpg" alt="">
    </div>
    <div class="about_text">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti molestiae distinctio nam architecto ex iste esse et consequuntur animi, labore non pariatur velit repellat vel amet ea quo eum exercitationem Corrupti molestiae distinctio nam architecto ex iste esse et consequuntur animi, labore non pariatur velit repellat vel
        amet ea quo eum exercitationem.</p>
    </div>
</section>